# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List the commonly libraries used by Data Scientists
- Tabular development environment open source tools used in Data Science
- Examples of evaluating arithmetic expressions in Python

Some of the popular language that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
- NumPy 
- dplyr
- ggplot

|Data Science Tools|
|------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author 
Yi-Hua Pan/ Julia